<ul class="nav nav-boxes">
  {{#if isHome}}
    <li><a href="/" class="current app">{{sitetitle.value}}</a></li>
  {{else}}
    <li><a href="/" class="app">{{sitetitle.value}}</a></li>
  {{/if}}
  {{#each pages}}
    {{#if active}}
      <li><a href="{{href}}" class="current app">{{name}}</a></li>
    {{else}}
      <li><a href="{{href}}" class="app">{{name}}</a></li>
    {{/if}}
  {{/each}}
</ul>
{{#if isLoggedIn}}
<ul class="nav nav-boxes actionable">
  {{#if isPage}}
    {{#if isAddingMedia}}
      <li><a href="{{addMediaHref}}" class="current app">Add Media</a></li>
    {{else}}
      <li><a href="{{addMediaHref}}" class="app">Add Media</a></li>
    {{/if}}
    {{#if isEditingPage}}
      <li><a href="{{editPageHref}}" class="current app">Edit Page</a></li>
    {{else}}
      <li><a href="{{editPageHref}}" class="app">Edit Page</a></li>
    {{/if}}
  {{/if}}
  {{#if isCreatingPage}}
    <li><a href="{{createHref}}" class="current app">New Page</a></li>
  {{else}}
    <li><a href="{{createHref}}" class="app">New Page</a></li>
  {{/if}}
</ul>
{{/if}}