{{#with media}}
  <form>
    <fieldset>
      <legend>Edit {{name}}</legend>
      <label class="control-label" for="name">Title</label>
      <input type="text" id="fileNameField" name="name" placeholder="Untitled {{type}}" value="{{name}}">
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Save</button>
          <a class="btn btn-danger">Delete</a>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Set A Thumbnail</legend>
      {{#if thumbnailS3key}}
        <p>
          <img src="{{thumbnailUrl}}" class="thumbHolder img-polaroid" alt="{{name}} Thumbnail" />
        </p>
      {{else}}
        <div class="alert alert-warning">
          <big>No thumbnail yet! Select or upload one.</big>
        </div>
      {{/if}}
      <div class="control-group">
        <div class="controls">
          {{#if isImage}}
            <a id="useOriginalButton" href="#" class="btn btn-info crop">Use Original</a>
          {{/if}}
          <a id="useCustomButton" href="#" class="btn btn-success upload">Upload Thumbnail</a>
        </div>
      </div>
      <input type="hidden" id="thumbnail" name="thumbnail" value="{{thumbnail}}">
    </fieldset>
  </form>
{{/with}}